@import "../node_modules/bourbon/core/_bourbon.scss";
@import "../node_modules/@vizabi/shared-components/src/styles/vizabi-old/_mixins.scss";
@import "../node_modules/@vizabi/shared-components/src/styles/vizabi-old/_common.scss";
@import "../node_modules/@vizabi/shared-components/src/styles/vizabi-old/_chart.scss";

.vzb-tool {
  
  .vzb-spreadsheet {
    @extend %vzb-chart-wrapper;
    
    background-color: white;
    
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;

    div#vzb-spreadsheet-title {
      flex: none;
      width: 100%;
      padding: 10px 5px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &::after {
        margin-left: 3px;
        content: '▾';
      }
    }

    div#vzb-spreadsheet-about .vzb-spreadsheet-select {
      display: inline-block;
      position: relative;
      width: unset;
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: .4em solid transparent;
        border-top: .6em solid #425663;
        top: calc(50% - .3em);
        right: .2em;
        pointer-events: none;
      }

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: inherit;
        padding: .2em 1.2em .2em .2em;
      }
    }

    div#vzb-spreadsheet-about {
      flex: none;
      padding: 10px 5px;
      .vzb-spreadsheet-conceptkey {
        font-style: italic;
        margin-right: 5px;
      }
      .vzb-spreadsheet-conceptvalue {
        white-space: normal;
      }

      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;

      div {
        width: 100%;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    
    div#vzb-spreadsheet-actions {
      flex: none;
      padding: 10px 5px;
      text-transform: uppercase;
      min-height: 35px;
      display: flex;
      align-items: center;
      
      div {
        position: absolute;
      }
      
      div.vzb-spreadsheet-viewas {
        left: 5px;
      }
      
      div.vzb-spreadsheet-downloadas {
        right: 5px;
      }
      
      a {
        margin-left: 5px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      
      div.vzb-spreadsheet-downloadas a {
        &::before {
          content: '⏬';
        }
      }
      
    }
    
    

    div#vzb-spreadsheet-table {
      flex: auto;
      padding: 10px 5px 0px 5px;
      display: flex;
      flex-direction: row;
      overflow: scroll;
      &.vzb-spreadsheet-table-fix-headers {
        overflow: hidden;
        padding-right: 0;

        .viz-spreadsheet-keytable-wrapper {
          .viz-spreadsheet-keytable {
            overflow: hidden;
          }
        }
        .viz-spreadsheet-table-wrapper {
          display: flex;
          overflow: hidden;
          .viz-spreadsheet-table-header {
            overflow: hidden;
            flex: none;
            max-height: calc(2em + 3px);
            padding-right: 5px;
          }
          .viz-spreadsheet-table {
            overflow: scroll;
            padding-right: 5px;
            .viz-spreadsheet-headrow {
              line-height: 0;
              opacity: 0;
              td {
                padding-top: 0;
                padding-bottom: 0;
                border-bottom: none;
              }
            }
          }
          .viz-spreadsheet-keycell {
            display: none;
          }
                     
        }
      }
      
      .viz-spreadsheet-tablerow td {
        height: 2em;
      }
      
      .vzb-spreadsheet-loading {
        font-style: italic;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 30px;
      }
    }
  }


  table {
    border-spacing: 2px 0;
    tr {
      line-height: 2em;
    }
    tr:first-child {
      font-weight: bold;
      td {
        border-bottom: 1px solid $vzb-color-primary;
      }
    }
    .viz-spreadsheet-tablerow:nth-child(2n+3) {
      background: $vzb-color-primary-lightest;
    }

    &.viz-spreadsheet-table,
    &.viz-spreadsheet-table-header {
      display: block;

      .viz-spreadsheet-keycell {
        font-family: inherit;
        text-align: inherit;
        padding-left: inherit;
      }
      td {
        font-family: monospace;
        text-align: right;
        padding-left: 10px;
      }
    }

  }

  .viz-spreadsheet-keytable {
    display: block;
    .viz-spreadsheet-headrow {
      td::before {
        content: attr(data-caption);
        position: absolute;
        margin-top: calc(-2em + 1px);
        width: calc(100% - 5px);
        border-bottom: 1px solid $vzb-color-primary;;
        background-color: white;
      }
    }
  }
  
  .viz-spreadsheet-keytable-wrapper {
    position: relative;
    margin-top: 2em;
    flex: none;
  }

  .viz-spreadsheet-table-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  
 
  &.vzb-small {
    .vzb-spreadsheet {
      font-size: 8px;
      div#vzb-spreadsheet-title {
        font-size: $vzb-font-size-large;
      }
    }
  }
  &.vzb-medium {
    .vzb-spreadsheet {
      font-size: 12px;
      div#vzb-spreadsheet-title {
        font-size: $vzb-font-size-larger;
      }
    }
  }
  &.vzb-large {
    .vzb-spreadsheet {
      font-size: 16px;
      div#vzb-spreadsheet-title {
        font-size: $vzb-font-size-largest;
      }
    }
  }
}


//$vzb-font-size-base: 16px;
//$vzb-font-size-regular: 1em;
//$vzb-font-size-tiny: 0.625em;
//$vzb-font-size-small: 0.8em;
//$vzb-font-size-medium: 1.24em;
//$vzb-font-size-large: 1.38em;
//$vzb-font-size-larger: 1.6em;
//$vzb-font-size-largest: 2.1em;
